@brand-primary: #d9184e;
@brand-success: #009736;
@brand-white: #ffffff;
@brand-light-pink: #edd5d7;
@brand-red-1: #f53f36;
@brand-red-2: #ee2a35;
@brand-red-3: #e32242;
@brand-green-1: #0ca823;
@brand-green-2: #00874d;
@brand-green-3: #007a4e;
@brand-dark: #001a09;
@brand-black: #000000;
